<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>방명록</title>

        <script>
            function writeComment(){
                var form = document.getElementById("form_comment");
                axios({
                    method : 'post',
                    url : 'http://localhost:8080/visitor/write',
                    data : {
                        name : form.name.value,
                        comment : form.comment.value
                    }
                })
                .then((rep) => { return rep.data; })
                .then((data) => {

                    let html = 
                    "<tr><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td></tr>";
                    
                    $( "table" ).append(html);  //jquery 구문
                });
                

                    
            }
        </script>
    </head>
<body>
    <div>
        <form id="form_comment" action="/visitor" target="_blank" method="GET">
            <fieldset style="width:300px;">
                <legend> 방명록 등록 </legend>
                    <input type = "text" name="name" placeholder="사용자 이름"><br>
                    <input type = "text" name="comment" placeholder="방명록"><br>
                    <button type="button" onclick="writeComment();">등록</button>
            </fieldset><br>
        </form> 
    </div>
        <table cellpadding="5" cellspacing="2" border="1px">
            <thead>    
                <td>ID</td>
                <td>작성자</td>
                <td>방명록</td>
                <td>수정</td>
                <td>삭제</td>
            </thead>

            <tbody>
            <%
                for ( let i = 0; i < data.length; i++){
            %>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].comment%></td>
                </tr>
            <%
                }
            %>
            <tbody>
        </table>
    </body>
</html>