<html>
    <head>
        <script>
            console.log( document.cookie );
            document.cookie = "user=sesac; expires=Sat, 13 Aug 2022 13:00:00 GMT; path=/"; //명확한 날짜를 적어야한다.
            console.log( document.cookie );

            var cookieArr = document.cookie.split(";");
            // for ( var i = 0; i < cookieArr.length; i++ ) 아래의 코드는 이것과 같다.
            for ( var i in cookieArr ){
                console.log( cookieArr[i] );
            }
            
            
            var App = new Object();
            App.TopPop = function(){
                var self;
                return {
                    init: function() {
                        self =this;

                        $('.btn-pop-close').on('click',function(){
                            if($('#do-not-open').is(':checked')){
                                self.setCookie('todayCookie','done',1);
                            }
                            $('.top-pop-wrap').slideUp();
                        });
                        self.getCookie();

                    },
                    setCookie : function(name, value, expiredays){
                        var todayDate = new Date();
                        todayDate.setDate(todayDate.getDate() + expiredays);
                        document.cookie = name + '='+ escape(value) +'; path=/; expire=' + todayDate.toGMTString() + ';'
                    },
                    getCookie: function(){
                        var cookiedata = document.cookie;
                        if(cookiedata.indexOf('todayCookie=done') < 0){
                            $('.top-pop-wrap').show();
                        } else {
                            $('.top-pop-wrap').hide();
                        }
                    }
                }
            }();
        


        </script>
    </head>
    <body>
        <div class="top-pop-wrap">
            <div class="top-pop-box">
                <div>
                    인터넷익스플로러 지원종료 안내
                </div>
                <a href="#a" title="닫기" class="btn=pop-close">
                <span class="hide">닫기</span>
                </a>
                <p class="do-not-open-box">
                    <input type="checkbox" id="do-not-open" />
                    <label for="do-not-open" title="오늘 그만 보기"></label>
                </p>
            </div>
        </div>
    </body>
</html>