<html>
<head>
  
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Festa Restaurant</title>

    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon//favicon-16x16.png">
    <link rel="manifest" href="./favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        
        .carousel-inner{
            background-color: black;
            text-align: center;
            width: 100%;
            height: 500px;
            position: relative;
        }
        .img01{
            width: 80%;
            height: 100%;
            opacity: 80%;
        }
        .main_txt01{
            background-color: black;
            text-align: center;
            width: 100%;
            height: 500px;
        }
        .main_txt02{
            color: white;
            font-size:xx-large;
            font-family: 'Nanum Brush Script', cursive;
            text-align: center;
            position: relative;
        }
        button:hover{
            background-color: rgba(234, 226, 226, 0.475);
        }
        .navbar-toggler{
            font-family: 'Black Han Sans', sans-serif;
        }
        #navbarDropdown{
            color: white;
            font-family: 'Black Han Sans', sans-serif;
            border: none;
            outline: none;
            background-color: black;
        }
        #navbarDropdown:hover{
            color: red;
            background-color: black;
            transform: scale(1.1);
            border: none;
            outline: none;
        }
        
        .dropdown-item{
            font-family: 'Black Han Sans', sans-serif;
        }
        #map_btn{
            
            font-family: 'Black Han Sans', sans-serif;
            
        }
        form.d-flex{
            position: relative;
            top: 5px;
        }
        button.carousel-control-prev{
            height: 500px;
        }
        button.carousel-control-next{
            height: 500px;  
        }
    </style>

    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/abc/aa/logo1.png" width="50px" height="50px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      INTRODUCE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">FESTA STORY</a></li>
                      <li><a class="dropdown-item" href="#">INVESTOR RELATION</a></li>
                    </ul>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                EVENT&NEWS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">FESTA EVENT</a></li>
                  <li><a class="dropdown-item" href="#">FESTA NEWS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MENU
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">SALAD</a></li>
                  <li><a class="dropdown-item" href="#">PIZZA</a></li>
                  <li><a class="dropdown-item" href="#">PASTA</a></li>
                  <li><a class="dropdown-item" href="#">BEVERAGE</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MEMBERSHIP
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">CUSTOMER SERVICE</a></li>
                  <li><a class="dropdown-item" href="#">MEMBERSHIP BENEFIT</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  STORE
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
                      <!-- Button trigger modal -->
                <button type="button" class="" id="navbarDropdown" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                    MAP
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">오시는 길</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1071.9906452083126!2d126.98140248258038!3d37.47754150166546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca04c184509e1%3A0xfb43b963679bf9e6!2z7YyM7Iqk7YWU7Iuc7Yuw!5e0!3m2!1sko!2skr!4v1657616542770!5m2!1sko!2skr" 
                            width="470" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            
          </div>
        </div>
      </nav>

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/abc/aa/res1.jpg" class="img01" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/abc/aa/pasta1.jpg" class="img01" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/abc/aa/steak1.jpg" class="img01" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" id="btn1" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" id="btn1" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        
        
      </div>

      <div class="main_txt01">
        <div class="main_txt02"><br>
            친절과 정성으로 모시겠습니다.<br>
            We'll serve you with kindness and sincerity.<br><br>
            이태리 현지음식의 맛 그대로를 제공하겠습니다.<br>
            We'll provide the taste of local Italian food as it is.</p><br>
        </div>
        

      </div>

      <div class="splitview skewed">
        <div class="panel bottom">
            <div class="content">
                <div class="description">
                    <h1>Pasta</h1>
                    <p>We'll provide the taste of local Italian food as it is.</p>
                </div>

                <img src="/abc/aa/pasta1.jpg" alt="Original">
            </div>
        </div>

        <div class="panel top">
            <div class="content">
                <div class="description">
                    <h1>Steak</h1>
                    <p>We'll serve you with kindness and sincerity.</p>
                </div>

                <img src="/abc/aa/steak1.jpg" alt="Duotone">
            </div>
        </div>

        <div class="handle"></div>
    </div>

    <style>
    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgba(76, 74, 92, 0.796);
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}
      
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var parent = document.querySelector('.splitview'),
        topPanel = parent.querySelector('.top'),
        handle = parent.querySelector('.handle'),
        skewHack = 0,
        delta = 0;

    // If the parent has .skewed class, set the skewHack var.
    if (parent.className.indexOf('skewed') != -1) {
        skewHack = 1000;
    }

    parent.addEventListener('mousemove', function(event) {
        // Get the delta between the mouse position and center point.
        delta = (event.clientX - window.innerWidth / 2) * 0.5;

        // Move the handle.
        handle.style.left = event.clientX + delta + 'px';

        // Adjust the top panel width.
        topPanel.style.width = event.clientX + skewHack + delta + 'px';
    });
});
</script>
      
      
</body>
</html>