<html>
    <head>
        <title> 회원가입 </title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function register() {
                var form = document.getElementById("form_register");
                if ( !form.checkValidity() ) {
                    form.reportValidity();
                    console.log( "reportValidity" );

                    return false;
                }
                let user = {
                    id: form.userId.value,
                    name: form.userName.value,
                    password: form.userPassword.value,
                    email: form.userEmail.value
                };
                axios({
                    method: 'post',
                    url: 'http://localhost:8000/user/signup',
                    data: user
                }).then((rep) => {return rep.data;} )
                .then((data) => {
                    alert("회원가입 성공");
                    document.location.href="/user/signup";
                });
            }

        </script>
        <style>
            #signUpForm{
                color: gray;
                text-align: center;
                font-size: 30px;
            }
            #signUpForm2{
                color: gray;
                text-align: center;
                font-size: 15px;
                line-height: 30px;
            }
        </style>
    </head>
    <body>
        <div>
            <form id="form_register">
              <fieldset>
                <div id="signUpForm">회원가입</div>
                <div id="signUpForm2">
                    <div><inputc:\Users\WZ\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.html name="name" type="text" placeholder="사용자 이름"></div>
                    <div>아이디 : <input name="userId" type="text" placeholder="아이디"></div>
                    <div>이름 : <input name="userName" type="text" placeholder="이름"></div>
                    <div>비밀번호 : <input name="userPassword" type="text" placeholder="비밀번호"></div>
                    <div>이메일 : <input name="userEmail" type="text" placeholder="이메일"></div>
                    <div id="button-group">
                        <button type="button" onclick="register();">등록</button>
                </div>
              </fieldset>
            </form>
        </div>
    </body>
</html>