<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>-->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        
        <title>Index3.ejs</title>

        <style>
            #welcome1{
                background-color: rgb(227, 226, 226);
                text-align: center;
                width: 100%;
                height: 400px;
            }
            #welcome2{
                background-color: mintcream;
                text-align: center;
                width:500px;
                position: relative;
                left: 10px;
                top: 50px;
            }
            #welcome3{
                text-align: left;
            }

        </style>

    </head>
    <body>
        <form action="register" method="POST" enctype="multipart/form-data">

            <div id="welcome1">
                <div id="welcome2">
                    <div id="welcome3">
                
                <legend>개인 정보</legend>
                <label>아이디 :
                    <input type="text" name="id" required style="width: 150px;">
                </label><br><br>
                <label>비밀번호 :
                    <input type="text" name="pw" required style="width: 150x;">
                </label><br><br>
                <label>이름 :
                    <input type="text" name="name" required style="width: 150px;">
                </label><br><br>
                <label>나이 :
                    <input type="text" name="age" required style="width: 150px;">
                </label><br><br>
                
                    </div>
                </div>
            </div>
        
                <input type="file" name = "userfile">
                
                <button>업로드</button>

            </form>
            
            
        </form>
    </body>
</html>